c-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

c-content > header {
  background: dimgray;
  color: white;
  padding-bottom: 0;
}

c-content > header .description {
  border-bottom: 1px solid darkgray;
  color: gainsboro;
  font-size: 0.85rem;
  padding: 0 2rem 0.5rem 2rem;
}

c-content > header menu {
  margin: 0;
  padding: 0;
}

c-content > header a,
c-content > header a:visited {
  color: white;
}

c-content > section {
  overflow: auto;
}

c-content h2 {
  padding: 0.5rem 2rem;
  margin: 0;
}

c-content menu {
  display: flex;
}

c-content li {
  list-style-type: none;
}

c-content menu a {
  display: inline-block;
  padding: 0.5rem 2rem;
}

c-content menu a {
  border-bottom: 10px solid transparent;
}

c-content menu a.current {
  border-color: lightskyblue;
}
