c-sidebar {
  background: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

c-sidebar h1 {
  border: 5px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

c-sidebar nav {
  overflow: auto;
}

c-sidebar menu {
  list-style-type: none;
  padding: 0;
}

c-sidebar menu li {
  display: flex;
  padding: 0.25rem 0;
}

c-sidebar menu a {
  flex: 1;
}

c-sidebar menu a,
c-sidebar menu a:visited {
  color: white;
}

c-sidebar menu a.current {
  font-weight: 600;
}

c-sidebar menu a.current::before {
  content: '▸  ';
}
